# shellcheck disable=SC2034
################################
#           App Info           #
################################

# The environment should either be `local` or `production`
APP_ENV=local
APP_DEBUG=true
APP_NAME=Satisch

# The key should be auto generated. Use the `just build-key` command
APP_KEY=

# The public reachable URL of this app. This value is used for URL
# generation.
APP_URL=http://localhost


################################
#    Logging and Reporting     #
################################

# Here you may specify how the application should write log files.
# For local development `single` is recommended, on production `daily`
# and other logging sources.
# @see config/logging.php for details
LOG_STACK=single
LOG_LEVEL=debug


################################
#           Database           #
################################
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=yooup
DB_USERNAME=sail
DB_PASSWORD=password


################################
#  Broadcasting / Websockets   #
################################

# This connection is used for Websockets. We use `laravel/reverb` as
# the websocket server.
BROADCAST_CONNECTION=log


################################
#       Caching & Queue        #
################################

# The queue connection defines which driver is used for the queue handling.
# We are using `laravel/horizon` for all of the queue scaling and handling.
QUEUE_CONNECTION=redis

# The cache store defines which driver is used for the cache handling.
CACHE_STORE=redis

# Redis credentials
REDIS_CLIENT=valkey
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379


################################
#           Mailing            #
################################
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="yooup@example.com"


################################
#         Integrations         #
################################
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


################################
#           Frontend           #
################################
VITE_APP_NAME="${APP_NAME}"

